@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2a3e;
  background-image: repeating-radial-gradient(
    circle at center left,
    transparent 0,
    #233656 100px
  );
}

.App {
  text-align: center;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  gap: 550px;
}

.butterfly {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  animation: fly 5s linear infinite;
}

@keyframes fly {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  padding: 4rem;
  border-radius: 45px;
  box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
  10px 10px 70px rgba(0,0,0,0.25),
  inset 5px 5px 10px rgba(0,0,0,0.5),
  inset 5px 5px 20px rgba(255,255,255,0.2),
  inset -5px -5px 15px rgba(0,0,0,0.75);
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #c96850;
  padding: 0.5rem 1rem;
  margin: 1rem 2rem 2rem 0rem;
  border-radius: 20px;
  width: 300px;
  color: #fff;
  animation: pulse 1s infinite alternate ease-in-out;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #c96850;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 20px;
  animation: pulse 1s infinite alternate ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.Todo.animated{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c96850;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.done-icon{
  padding-left:10px;
}

.done-icon.edited {
  color: rgb(207, 242, 10);
}
.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
.animated {
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}


@media(max-width:991.98px){
  
  .App{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .butterfly{
    position: absolute;
    top: 35%;
    left: 50%;
    width: 370px;
  }
}